*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: #222; text-decoration: none;}

.red{background-color: red;}
.black{background-color: black;}
.yellow{background-color: yellow;}

/* AB형 */
/* .container{width: 1200px; margin: 0 auto;} */

/* C형 */
.container{width: 1000px;}
.w200{width: 200px;}
.w800{width: 800px;}


/* ab형 c형 common */
.h100{height: 100px;}
.h200{height: 200px;}
.h300{height: 300px;}

.rel{position: relative;}
.abs{position: absolute;}

.d-flex{display: flex;}
.justify-content-between{justify-content:space-between}
.align-items-center{align-items: center;}